<h2 mat-dialog-title>Add Movie Event</h2>
<div mat-dialog-content class="dialog-content-wrapper"> 
  <form [formGroup]="eventForm">
    <mat-form-field appearance="fill">
      <mat-label>Movie Title</mat-label>
      <input matInput formControlName="title" required>
      <mat-error *ngIf="eventForm.get('title')?.hasError('required')">
        Movie title is required
      </mat-error>
    </mat-form-field>
<br>
    <mat-form-field appearance="fill">
      <mat-label>Release Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="eventForm.get('date')?.hasError('required')">
        Release date is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Time (HH:MM)</mat-label>
      <input matInput formControlName="time" placeholder="e.g., 19:30" required pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$">
      <mat-error *ngIf="eventForm.get('time')?.hasError('required')">
        Time is required
      </mat-error>
      <mat-error *ngIf="eventForm.get('time')?.hasError('pattern')">
        Invalid time format (HH:MM)
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="center"> 
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" [disabled]="eventForm.invalid" (click)="onSave()">Save</button>
</div>
